<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.w3.org/ns/widgets"
    id="nat-camera"
    version="0.1.0">
    <name>nat-camera</name>
    <description></description>
    <license>MIT</license>
    <keywords>weex,plugin,nat,natjs,camera</keywords>
    <repo>https://github.com/Natjs/weex-nat-camera.git</repo>
    <issue>https://github.com/Natjs/weex-nat-camera/issues</issue>
    
     <!-- ios -->
     <platform name="ios">
         <framework src="NatCamera" type="podspec" spec="" />
         <config-file target="WeexpluginConfig.xml" parent="/*">
             <feature name="WXTestModule">
                 <param name="category" value="module" />
                 <param name="ios-package" value="WeexNatCamera" />
                 <param name="api" value="nat/camera" />
             </feature>
         </config-file>
         <header-file src="ios/WeexNatCamera.h"/>
         <source-file src="ios/WeexNatCamera.m"/>
     </platform>

     <!-- android -->
     <platform name="android">
        <config-file target="config.xml" parent="/*">
             <feature name="CameraModule">
                 <param name="category" value="module" />
                 <param name="android-package" value="com.nat.weex.CameraModule" />
                 <param name="api" value="nat/camera" />
             </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
             <uses-permission android:name="android.permission.CAMERA" />
             <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
             <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <source-file
             src="android/CameraModule.java"
            target-dir="src/com/alibaba/weex/nat/CameraModule.java" />

        <framework src="com.nat:camera:1.0.1" />
     </platform>

</plugin>
