<?xml version="1.0" encoding="UTF-8"?>headers

<plugin xmlns="http://www.w3.org/ns/widgets"
    id="nat-camera"
    version="0.1.0">
    <name>nat-camera</name>
    <description></description>
    <license>MIT</license>
    <keywords>weex,plugin,nat,natjs,camera</keywords>
    <repo>https://github.com/Natjs/weex-nat-camera.git</repo>
    <issue>https://github.com/Natjs/weex-nat-camera/issues</issue>
    
     <!-- ios -->
     <platform name="ios">
         <framework src="NatCamera" type="podspec" spec="" />
         <config-file target="WeexpluginConfig.xml" parent="/*">
             <feature name="WXTestModule">
                 <param name="category" value="module" />
                 <param name="ios-package" value="WeexNatCamera" />
                 <param name="api" value="nat/camera" />
             </feature>
         </config-file>
         <header-file src="ios/WeexNatCamera.h"/>
         <source-file src="ios/WeexNatCamera.m"/>
     </platform>

     <!-- android -->
     <platform name="android">
     </platform>

</plugin>
